@charset "UTF-8";
* {
	outline: 0!important;
	margin: 0;
	padding: 0;
	font-family: 'Cormorant Unicase',sans-serif;
}

html, body {
	width: 100%;
	height: 100%;
	/* background-color: #fafafa; */
	color: #fff;
}

body {
	background-image: url('../img/macbook_fotoapparat_kofe_chasy_ipod_109760_3840x2400.jpg'); 
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

.not-footer {
	min-height: 100%;
	width: 100%;
}

.a {
	text-decoration: none;
}

.before-footer {
	width: 99%;
	height: 47px;
	border: 1px /* solid #000 */;
	float: left;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	float: left;
	/* background-color: #f7f7f7; */
	background: rgba(53, 60, 75, 0.8);
}

/* header */

header {
	height: 45px;
	border-bottom: 1px solid silver;
	padding: 3px;
	padding-top: 3px;
/* 	z-index: 9999;
	position: fixed;
	width: 100%;
 	background-color: #FAFAFA; */
}

.nature {
	font-size: 1.7em;
	margin-left: 7.1em;
	color: #fff; 
}

.pablic {
	color: #fff;
	transition: all.4s ease;
}

.pablic:hover {
	color: #4669bc;
	transition: all.6s ease;
}


.input {
	color: #fff;
	margin-left: 0.2%;
	transition: all.6s ease;
}


/* content */

.cooperationBlock {
	border: 1px solid silver;
	width: 25%;
	margin-left: 37.5%;
	margin-right: 37.5%;
	margin-top: 2%;
	font-size: 1.5em;
	text-align: center;
	float: left;
	padding-top: 1%;
	padding-bottom: 1%;
	color: #fff;
	transition: all.6s ease;
}

.cooperationBlock:hover {
	color: #4669bc;
	border-radius: 12px;
	background-color: none;
	transition: all.5s ease;
}

.conditionsBlock {
	/* border: 1px solid silver; */
	float: left;
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	text-align: left;
	font-size: 1.2em;
	margin-top: 2%;
}

.headConditions {
	font-size: 1.5em;
	text-align: center;
	display: block;
	margin-bottom: 2%;
}

/*реклама*/

.conditionsBlock_2 {
	/* border: 1px solid silver; */
	float: left;
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	text-align: left;
	margin-top: 3%;
	min-height: 46px;
	text-align: center;
	color: #fff;
}

.img_advertising {
	border-radius: 50%;
	float: left;
	max-width: 25%;
	max-height: 120px;
	margin-left: 6%;
}

.name_public {
	/* border: 1px solid silver; */
	float: right;
	margin-right: 6%;
	min-height: 10px;
	width: 66%;
	text-align: left;
}

.name {
	font-size: 2em;
	font-family: apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
	font-weight: 200;
	float: left;
}

.follow {
	float: left;
	border: 1px solid silver;
	padding: 1%;
	padding-bottom: 0.5%;
	padding-top: 0.5%;
	padding-left: 1.5%;
	padding-right: 1.5%;
	margin-top: 2%;
	margin-left: 4%;
	border-radius: 5%;
	color: #fff;
	font-family: apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
	transition: all 0.6s ease;
}

.follow:hover {
	color: #4669bc;
	background-color: #ffe57f;
	transition: all 0.4s ease;
}

@-webkit-keyframes rainbow {
	0% {background: #FAFAFA;}
	50% {background: #7e8cdb}
	100% {background: #FAFAFA;}
}

.follow {
	webkit-animation: rainbow 2s linear 2s infinite;
	animation: rainbow 2s linear 2s infinite;
}

.description-account {
	/* border: 1px solid silver; */
	text-align: left;
	margin-top: 3%;
	float: right;
	margin-right: 6%;
	min-height: 10px;
	width: 66%;
	font-family: apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

/*Не удалять!!*/

/* advertising================ */

.advertising {
	/* border: 1px solid #000; */
	width: 68%;
	float: left;
	min-height: 150px;
	margin-left: 16%;
	margin-right: 16%;
	margin-top: 2%;
	text-align: center;
}

.AdvertisingText {
	/* border: 1px solid silver; */
	font-size: 2em;
	display: block;
	margin-top: 3%;
}

.AdvertisingBlock {
	/* border: 1px solid silver; */
	float: left;
	width: 90%;
	margin-left: 5%;
	margin-bottom: 1%;
	margin-top: 3%;
	min-height: 100px;
	font-size: 1.4em;
}

.order {
	/* border: 1px solid silver; */
	border-top: 1px solid silver;
	font-size: 1em;
	margin-top: 5%;
	color: #fff;
	transition: all.6s ease;
	display: block;
}

.order:hover {
	color: #4669bc;
	border-radius: 12px;
	background-color: none;
	transition: all.4s ease;
}

.competition {
	border-top: 1px solid silver;
	float: left;
	width: 100%;
}

.competition_block {
	border-bottom: 1px solid silver;
	float: left;
	width: 100%;
	padding-top: 2%;
	padding-bottom: 2%;
}

/*table*/

.table {
	float: left;
	width: 30%;
	min-height: 100px;
	margin-left: 2%;
	/* border: 1px solid silver; */
}

.div-table {
	border-bottom: 1px solid silver;
	float: left;
	width: 100%;
	min-height: 10px;
	text-align: center;
	padding-top: 1%;
	padding-bottom: 1%;
	margin-bottom: 1%;
	text-align: center;
}

.div-table:hover {
	cursor: pointer;
}

#open_menu1 {
	display: none;
}

#open_menu2 {
	display: none;
}

#open_menu3 {
	display: none;
}

.block-table {
	/* border: 1px solid silver; */
	width: 100%;
	min-height: 10px;
	float: left;
}

.block {
	margin-bottom: 2%;
	padding-bottom: 2%;
	border-bottom: 1px solid silver;
}

.img_menu {
	
}

.img_menu2 {

}

/* footer */

footer {
	border-top: 1px solid silver;
	height: 60px;
	padding: 3px;
	width: 98%;
	margin-left: 1%;
	margin-right: 1%;
	float: left;
}

.follov {
	float: right;
	margin-right: 14.5%;
	margin-top: 0.7%;
	font-size: 1.1em;
}

.i {
	color: #fff;
	transition: all.6s ease;
}

.i:hover {
	color: #4669bc;
	transition: all.6s ease;
}

.footer-nature {
	margin-left: 14.5%;
	margin-top: 0.7%;
	font-size: 1.1em;
}

/*Up arrow*/

.top_button {
	position: fixed;
	bottom: 2%;
	right: 3.5%;
	border-radius: 50%;
	z-index: 100;
	opacity: 0.7;
	display: none;
	transition: all 0.6s ease;
}

.top_button:hover {
	opacity: 1;
	transition: all 0.4s ease;
}
